
<div class="container th">
  <h1>User Information</h1>
  <form [formGroup]="profileForm" (submit)="sendDataToBackend()" id="userInfoForm" method="POST">
    <label for="name">ID:</label>
    <input type="text" id="id" name="id" formControlName="id">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name">

    <label for="age">Age:</label>
    <input type="text" id="age" name="age" formControlName="age">


    <button [disabled] ="!profileForm.valid" class="my-button" type="submit">Send Data</button>
    <br>
    <br>valid = {{profileForm.valid}}
    <br>pristine = {{profileForm.pristine}}
    <br>dirty = {{profileForm.dirty}}
    <br>errors = {{profileForm.errors | json}}
    <p *ngIf="profileForm.invalid && profileForm.touched" style = "color: red">You must complete the form</p>
  </form>
<br>

  <div style="text-align: center">
    <button (click)="showData()" class="show-list">Show All Recordings</button>
  </div>
  <div *ngIf="content_list">
    <ul>
    <li *ngFor="let item of show" style="margin: 10px">
      id: {{item.id}} {{ item.message }} (Age: {{ item.age }})
    </li>
  </ul>
  </div>
  <div *ngIf="message" class = "message">
    <strong>{{message}}</strong>
  </div>
  <div *ngIf="show_error">
    <p style="color: red">There has been an error</p>
  </div>


</div>



